
<%- include("header") -%>
    <div class="box" id="heading">
  <h1><%= listheading %></h1>
    </div>
<div class="box">

<% for (var i = 0; i < kindofitem.length; i++) { %>
  <div class="item">
    <input type="checkbox" >
<p><%= kindofitem[i] %></p>
  </div>
<% } %>

<form class="item" action="/" method="post">
<input name="i" type="text" placeholder="New Item" autocomplete="off">
<button type="submit" name="button" value="<%= listheading %>">+</button>
</form>
</div>
<%- include("footer") -%>
